h1 {
    color: #005500;
    }
    
    h2 {
    color: #004400;
    }
    
    ul {
    margin-top: 10px;
    }
    
    ol {
    margin-top: 10px;
    }
    
    table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    }
    
    th, td {
    padding: 10px;
    border: 1px solid #ddd;
    }